.login-input {
  width: 371px;
  height: 40px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  padding-left: 10px;
}

.login-password-container {
  margin-bottom: 20px;
}

.login-submit-button {
  color: white;
  border: none;
  cursor: pointer;
  font-size: 19px;
  line-height: 24px;
}

.login-submit-button:disabled {
  background-color: grey;
  cursor: auto;
}
