.session-form h2 {
  font-size: 25px;
  line-height: 32px;
  font-weight: 500;
  margin-bottom: 30px;
}

.login-input {
  width: 371px;
  height: 40px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  font-size: 18px;
  padding-left: 10px;
}

.login-password-container {
  margin-bottom: 20px;
}

.login-submit-button {
  color: white;
  border: none;
  cursor: pointer;
  font-size: 19px;
  line-height: 24px;
  width: 154px;
  height: 48px;
  border-radius: 74px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.login-submit-button:disabled {
  background-color: grey;
  cursor: auto;
}
